* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background: #161219;
    height: 100dvh;
    width: 100dvw;
    position: relative;
}

#background {
    height: calc(100dvh - 2.5rem);
    width: calc(100dvw - 2.5rem);
    background: #b795c9;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* Above background */
}

#bokaif_img {
    width: 50vw;
    max-width: 500px;
    user-select: none;
    -webkit-user-drag: none;
}

/* Removed styles related to word-container and random-word */

.grain:after {
    content: "";
    width: 110%;
    height: 110%;
    position: absolute;
    top: -5%;
    left: -5%;
    opacity: 0.11;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg") repeat center center;
    -webkit-animation: grain 0.5s steps(1) infinite;
    animation: grain 0.5s steps(1) infinite;
}

@keyframes grain {

    0%,
    100% {
        transform: translate(0, 0, 0);
    }

    10% {
        transform: translate(-1%, -1%);
    }

    20% {
        transform: translate(1%, 1%);
    }

    30% {
        transform: translate(-2%, -2%);
    }

    40% {
        transform: translate(3%, 3%);
    }

    50% {
        transform: translate(-3%, -3%);
    }

    60% {
        transform: translate(4%, 4%);
    }

    70% {
        transform: translate(-4%, -4%);
    }

    80% {
        transform: translate(2%, 2%);
    }

    90% {
        transform: translate(-3%, -3%);
    }
}